/* Tailwind */
@import "tailwindcss";

/* daisyUI */
@plugin "daisyui" {
    themes:
        halloween --default,
        dark --prefersdark,
        light;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Dark theme variant support */
@custom-variant dark (&:where(.dark, .dark *));

/* Laravel 12 defaults */
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

/* Custom styles */
@utility modal-box {
    @apply overflow-y-visible;
}

@utility drawer{
    @apply flex-1;
}

main{
    @apply flex-1 flex flex-col;
}


